body{
    margin: 0px;
}
header{
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ddd;
    color: black;
    font-size: 40;
    text-align: center;
    border-bottom: 2px solid #347691;
}
footer{

    /*margin-top: 1%;*/
    /*margin-top:45%;*/
    margin-left: 6%;
    margin-right: 6%;
    /*border-top: 1px double #888;*/
    text-align: center;
    font-size: 16px;    
}
.main{    
    /*text-align: center;*/
}
.input_panel{
    text-align: center;
    width:90%;
    margin-top: 1%;
    margin-left:5%;
    
    border: 2px solid #888;
    border-radius: 5px;
}
.task_box{
    width: 90%;
    margin: auto;
}
.pending,.completed{
    float: left;
    margin: 1%;
    width: 48%;    
    border: 1px solid #888;
    border-radius: 4px;
}
.completed{
    margin-right: 0px;
}
 
.pending_header,.completed_header{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #ddd;
    color: black;
    border-bottom: 1px solid #888;
}
.pending_body,.completed_body{
    overflow-y: auto;
    height: 50%;
}
.control{
    width: 120px;
    height:34px;
    padding:6px 12px;    
    font-size: 14px;
    border:1px solid #888; 
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
    margin: 10px 5px;    
}
.progress_bar{
    display: block;
    margin: 10px;
    float: right;
    border-radius: 20px;
    width: 65%;
    background-color: #ddd;
    border: 1px solid #888;
    height: 30px;
}
.error{
    display: none;
    font-size: 14px;
    padding: 5px 10px;
    width: 250px;
    color: #a94442;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}
.task{
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 10px;    
    border: 1px solid #888;
    border-radius: 4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);

}
.task_nm{
    width: 70%;
    font-size: 24px;    
}
.chk_box{
    width: 10%;
    margin-top: 14px;
    margin-left: 14px;
}
.close_icon{   
    width: 10%;     
    float: right;
    margin-right: 14px;
    font-size: 40px;
    margin-top: -5px;
    cursor: pointer;
}
.close_icon:hover{
    color: #a94442;
}
.progress{
    width: 0%;
    height: 30px;
    /*border-radius: 20px;*/
    /*border-top-left-radius: 2em;
    border-bottom-left-radius:2em;*/
    /*border-bottom-left-radius:20px; 
    border-top-left-radius:20px;*/
    background-color: #afa;
}
.progress_text{
    padding-top:5px;
    padding-left: 5px;
}
@media(max-width: 907px) {
    .progress_bar {
        width: 60%
    }
}
@media(max-width:795px){
    .progress_bar{
        width: 50%;
    }
}
@media(max-width:635px){
    .progress_bar{
        width: 40%;
    }
}
@media(max-width:530px){
    .control{
        width: 90%;
    }
    .progress_bar{
        width: 90%;
        margin: 15px;
    }
}
@media(max-width:450px){
    .pending,.completed{
        width: 100%;

    }
}