body{
    margin: 0px;
}
header{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    width: 100%;
    background-color:#dddddd;
    border-bottom: 2px solid #aaaaaa;
}

.my_row{
    /*margin-top: 5px;*/
    width: 100%;
    text-align: center;
    overflow: auto;
}
.my_header{
    width: 80%;
    float: left;
    text-align: center;
    font-size: 25px;
}
.show_more_btn{
    font-size:25px;
    text-align: center;
    float: right;
    width: 10%;
    background-color: #aaffaa;
    /*border:1px solid #ddd;*/
    /*border-radius: 4px;*/
}
.show_more_btn:hover{
    background-color: #88ff88;
    cursor: hand;
}
    .my_container{
        margin: 0px 15%;
        overflow-y: auto;
    }
@media (max-width:768px){
    .my_container{
        margin: 10px;
    }
    .show_more_btn{
        width:20%;
    }
    .my_header{
        width: 60%;
    }    
}





/*.Progress{
    display: none;
}*/
.completed,.pending{display: none;font-size: 25px;}
.progress_bar{
    display: none;
    margin: 10px;
    float: right;
    border-radius: 20px;
    width: 97%;
    background-color: #ddd;
    border: 1px solid #888;
    height: 30px;
}
.progress{
    width: 0%;
    height: 30px;
    /*border-radius: 20px;*/
    /*border-top-left-radius: 2em;
    border-bottom-left-radius:2em;*/
    /*border-bottom-left-radius:20px; 
    border-top-left-radius:20px;*/
    background-color: #afa;
}
.progress_text{
    padding-top:5px;
    padding-left: 5px;
}

.btn,button{
    width: 20%;
    height: 25px;
    font-size: 20px;
    border: 1px solid #2e6da4;
    background-color: #337ab7;
    color: white;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin: 5px 2.5%;
}
.btn:hover,button:hover{
    background-color: #286090;
    cursor: hand;

}
.search{
    width: 20%;
    height: 27px;
    border: 1px solid #ddd;
    font-size: 15px;
    border-radius: 4px;
    text-align: left;
    float: left;
    margin: 5px 2.5%;
}
.select{
    width: 20%;
    height: 27px;
    border: 1px solid #ddd;
    font-size: 15px;
    border-radius: 4px;
    text-align: left;
    float: left;
    margin: 5px 2.5%;
}
.btn_danger{
    width: 20%;
    height: 25px;
    font-size: 20px;
    border: 1px solid #ff6666;
    background-color: #ff8888;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin-left:2.5%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn_danger:hover{
    cursor: hand;
    background-color: #ff7777;
    border: 1px solid #ff6666;

}
@media(max-width:768px)
{
    .btn,.search,.select,.btn_danger{        
        width: 95%;
    }
}
table{
    width: 100%;
    border-collapse: collapse;    
}
th,td{
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
}



/*------------------------------------------  Modal     --------------------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    text-align: center;
    padding: 2px 16px;
    border-bottom:1px solid #f0f0f0;
    background-color: #337ab7;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    border-top: 1px solid #f0f0f0;
    /*background-color: #f0f0f0;*/
    color: black;
}
.group{
    margin: 10px 15%;
    width: 100%;
}
.group label{
    width: 50%;
    font-size: 25px;
}
.group input,.group select{
    width: 50%;
    font-size: 25px;
    border: 1px solid #f0f0f0;
}
.group span{
    background-color: #f0f0f0;
    font-size: 25px;
    border: 1px solid #aaa;
    cursor: hand;
}
.group select{
    font-weight: 100;
}
.ftr{
    text-align: center; 
}
.ftr input{
    font-size: 25px;
    margin: 10px;
    width: 25%;
    border: none;
    border: 1px solid #f0f0f0;
}
button{
    float: none;
}
th{
    background-color: #337ab7;
    color: white;
}